name: Lint and Deploy

on:
  pull_request:
    branches: [main, master]
  push:
    branches: [main, master]
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'
      
      - name: Install dependencies
        run: |
          pip install ruff
      
      - name: Run Ruff linter
        run: ruff check .
      
      - name: Run Ruff formatter
        run: ruff format --check .

  deploy-prod:
    needs: lint
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    runs-on: [self-hosted, Linux, ARM64, RPI5]
    environment: production
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Checkout Secrets Prod
        run: | 
          cp -r /home/ethan/source/repos/bruh.bot/config/* ./config
          cp -r /home/ethan/source/repots/bruh.bot/frontend/.env.production ./frontend/.env

      - name: Deploy Prod with Docker Compose
        run: |
          echo "Stopping existing prod services (if any)..."
          docker compose down bruh-bot-prod config-api-prod bruh-bot-frontend-prod --remove-orphans || true
          echo "Building and starting prod services..."
          docker compose up -d --build bruh-bot-prod config-api-prod bruh-bot-frontend-prod
          echo "Cleaning up old Docker images..."
          docker image prune -af
